<footer class="bg-info text-center text-lg-start fixed-bottom">
    <!-- Copyright from https://mdbootstrap.com/how-to/bootstrap/footer-at-bottom/ -->
    <div class="text-center p-3" style="background-color: #1DA1F2;">
        © 2023 Copyright:
        <a class="text-dark" href="https://github.com/javideas/ex-templating">{{title}} by Javideas</a>
    </div>
    <!-- Copyright -->
</footer>