<div class="border col d-none d-lg-block">
    here the center column in CONFIG
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
<div class="col border col-lg-6">
    here right column
</div>