<div class="col-lg-6 col p-0 column justify-content-center">
    <div class="container border border-top-0 border-bottom-0 pb-3">
        <div class="col-9 p-0 m-0 d-flex justify-content-center align-items-center mx-auto" id="search-bar">
            <div class="input-group input-group-sm d-flex align-items-center m-0 p-1 border rounded-pill bg-light">
                <a href="#" class="m-1">
                    <svg viewBox="0 0 24 24" fill="#657786" aria-hidden="true" width="16" height="16" class="r-14j79pv r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-4wgw6l r-f727ji r-bnwqim r-1plcrui r-lrvibr"><g><path d="M10.25 3.75c-3.59 0-6.5 2.91-6.5 6.5s2.91 6.5 6.5 6.5c1.795 0 3.419-.726 4.596-1.904 1.178-1.177 1.904-2.801 1.904-4.596 0-3.59-2.91-6.5-6.5-6.5zm-8.5 6.5c0-4.694 3.806-8.5 8.5-8.5s8.5 3.806 8.5 8.5c0 1.986-.682 3.815-1.824 5.262l4.781 4.781-1.414 1.414-4.781-4.781c-1.447 1.142-3.276 1.824-5.262 1.824-4.694 0-8.5-3.806-8.5-8.5z"></path></g></svg>
                </a>
                <input type="search" class="form-control-sm pl-0 w-75 h-100 m-0 align-items-end border-0 bg-light" id="search-item"
                    placeholder="" style="height:16px;border-radius:10px">
            </div>
        </div>
    </div>
    <div class="border border-top-0 ">
        <div class="d-flex flex-row justify-content-evenly">
            <button type="button" class="btn d-flex flex-column pb-0 rounded-0 align-items-center w-100 border-0">1
                <div class="col text-center">
                    <div class="bg-primary rounded-pill" style="width: 75px; height: 5px;"></div>
                </div>
            </button>
            <button type="button" class="btn d-flex flex-column pb-0 rounded-0 align-items-center w-100 border-0">1
                <div class="col text-center">
                    <div class="bg-primary rounded-pill" style="width: 75px; height: 5px;"></div>
                </div>
            </button>
            <button type="button" class="btn d-flex flex-column pb-0 rounded-0 align-items-center w-100 border-0">1
                <div class="col text-center">
                    <div class="bg-primary rounded-pill" style="width: 75px; height: 5px;"></div>
                </div>
            </button>
            <button type="button" class="btn d-flex flex-column pb-0 rounded-0 align-items-center w-100 border-0">1
                <div class="col text-center">
                    <div class="bg-primary rounded-pill" style="width: 75px; height: 5px;"></div>
                </div>
            </button>
            <button type="button" class="btn d-flex flex-column pb-0 rounded-0 align-items-center w-100 border-0">1
                <div class="col text-center">
                    <div class="bg-primary rounded-pill" style="width: 75px; height: 5px;"></div>
                </div>
            </button>
        </div>
    </div>
    <div class="border border-top-0">
        tweets
    </div>
</div>
<div class="col d-none d-lg-block">
    here right column
</div>