<div class="col-lg-6 border col">
    here the center column in HOME
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
<div class="col d-none d-lg-block">
    here right column
</div>

